### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
game_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:

#Unique usernames essentially
TotalPlayers = set(game_data["SN"])


print(f"The total number of players is: {len(TotalPlayers)}")

The total number of players is: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#AveragePrice
AveragePrice = game_data["Price"].mean()


uniqueItemsbyName = set(game_data["Item Name"])
uniqueItemsbyNumber = set(game_data["Item ID"])


Summary = {'Total Players' : len(TotalPlayers), 'Average Price' : round(AveragePrice,2), 
           'Unique Items' : len(uniqueItemsbyName)}
SummaryDF = pd.DataFrame(data=[Summary])
SummaryDF

   Total Players  Average Price  Unique Items
0            576           3.05           179

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Essentially I want to cross reference the 'genders' 
#with all of the unique usernames or 'SN' to find the correct distribution of genders



male = 0
female = 0
other = 0

crosscheck = []
genders = game_data["Gender"]

index = 0


for i in game_data["SN"]:
    if crosscheck.count(i) == 0:
        if genders[index] == 'Male':
            male+= 1
            crosscheck.append(i)
        elif genders[index] == 'Female':
            female+=1
            crosscheck.append(i)
        elif genders[index] == 'Other / Non-Disclosed':
            other+=1
            crosscheck.append(i)
    index+=1
        
        
print(f"Male: {male} female: {female} other: {other}")
 
total = male + female + other
 

malepercent = str(round(((male/len(TotalPlayers)) * 100), 2))
malepercent+='%'

femalepercent = str(round(((female/len(TotalPlayers)) * 100), 2))
femalepercent+='%'
 

otherpercent = str(round(((other/len(TotalPlayers)) * 100), 2))
otherpercent+='%'
 

GenderDF = {'Total Count' : [male,female,other], 'Percentage of players' : [malepercent,femalepercent,otherpercent] }
GenderDF = pd.DataFrame(data=GenderDF, index = ['Male','Female','Other'])
GenderDF

Male: 484 female: 81 other: 11

        Total Count Percentage of players
Male            484                84.03%
Female           81                14.06%
Other            11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:

male = 0
female = 0
other = 0

index = 0

pricecol = game_data["Price"]
maleprice = 0
femaleprice = 0
otherprice = 0

uniquemales = []
uniquefemales = []
uniqueothers = []

usernames = game_data["SN"]

for i in game_data["Gender"]:
    if i == 'Male': 
        male+=1
        maleprice = maleprice + pricecol[index]
        if uniquemales.count(usernames[index]) == 0:
            uniquemales.append(usernames[index])
    elif i == 'Female': 
        female+=1
        femaleprice = femaleprice + pricecol[index]
        if uniquefemales.count(usernames[index]) == 0:
            uniquefemales.append(usernames[index])
    elif i == "Other / Non-Disclosed": 
        other+=1
        otherprice = otherprice + pricecol[index]
        if uniqueothers.count(usernames[index]) == 0:
            uniqueothers.append(usernames[index])
    index+=1
    
    

genders = {'Male' : male, 'Female' : female, 'Other' : other}

maleprice = round(maleprice,2)
femaleprice = round(femaleprice,2)
otherprice = round(otherprice,2)

malepricefinal = "$" + str(maleprice)
femalepricefinal = "$" + str(femaleprice)
otherpricefinal = "$" + str(otherprice)


maleaverage = round((maleprice / male),2)
femaleaverage = round((femaleprice/ female),2)
otheraverage = round((otherprice/ other),2)

maleaverage = "$" + str(maleaverage)
femaleaverage = "$" + str(femaleaverage)
otheraverage = "$" + str(otheraverage)


MalePerPerson = round((maleprice / len(uniquemales)),2)
MalePerPerson = "$" + str(MalePerPerson)

FemalePerPerson = round((femaleprice / len(uniquefemales)),2)
FemalePerPerson = "$" + str(FemalePerPerson)

OtherPerPerson = round((otherprice / len(uniqueothers)),2)
OtherPerPerson = "$" + str(OtherPerPerson)





GenderPurchaseDF = {'Purchase count' : [male,female,other], 
                    'Average Purchase Price' : [maleaverage,femaleaverage,otheraverage],
                   'Total purchase value' : [malepricefinal,femalepricefinal,otherpricefinal],
                    'Average total purchase per person' : [MalePerPerson,FemalePerPerson,OtherPerPerson]
                   }
GenderPurchaseDF = pd.DataFrame(data=GenderPurchaseDF, index = ['Male','Female','Other'])
 
GenderPurchaseDF

,Purchase count,Average Purchase Price,Total purchase value,Average total purchase per person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.2,$361.94,$4.47
Other,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
ranges = ["<10","10-14", "15-19","20-24","25-29","30-34","35-39","40+"]
age_data = pd.DataFrame(data = game_data["Age"],columns=["Age"] )
user_data = pd.DataFrame(data = game_data["SN"], columns=["SN"])
index = 0
UniqueUsers = []

for i in user_data["SN"]:
    if UniqueUsers.count(i)  == 0:
        UniqueUsers.append(i)
    else:
        age_data["Age"].pop(index) 
    index+=1
   

bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

 
age_data["Age Range"] = pd.cut(age_data["Age"], bins, labels=ranges)



age_group = age_data.groupby("Age Range")
#print(age_group["Age Group"].count())

final_age_df = pd.DataFrame(data=age_group["Age Range"].count(), index=ranges)
final_age_df["Age Range"][0]
 

under10Per = str(round((final_age_df["Age Range"][0]/len(TotalPlayers) * 100),2)) + "%"
under15Per = str(round((final_age_df["Age Range"][1]/len(TotalPlayers) * 100),2)) + "%"
under20Per = str(round((final_age_df["Age Range"][2]/len(TotalPlayers) * 100),2)) + "%"
under25Per = str(round((final_age_df["Age Range"][3]/len(TotalPlayers) * 100),2)) + "%"
under30Per = str(round((final_age_df["Age Range"][4]/len(TotalPlayers) * 100),2)) + "%"
under35Per = str(round((final_age_df["Age Range"][5]/len(TotalPlayers) * 100),2)) + "%"
under40Per = str(round((final_age_df["Age Range"][6]/len(TotalPlayers) * 100),2)) + "%"
over40Per = str(round((final_age_df["Age Range"][7]/len(TotalPlayers) * 100),2)) + "%"

percents = [under10Per,under15Per,under20Per,under25Per,under30Per,under35Per,under40Per,over40Per]
final_age_df["Percentage of Players"] = percents
final_age_df

       Age Range Percentage of Players
<10           17                 2.95%
10-14         22                 3.82%
15-19        107                18.58%
20-24        258                44.79%
25-29         77                13.37%
30-34         52                 9.03%
35-39         31                 5.38%
40+           12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
ranges = ["<10","10-14", "15-19","20-24","25-29","30-34","35-39","40+"]
ages = game_data["Age"] 
age_data = pd.DataFrame(data = game_data["Age"],columns=["Age"])
price_data = game_data["Price"]
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
user_data = game_data["SN"] 
 

age_data["Purchase Count"] = pd.cut(age_data["Age"], bins, labels=ranges)



purchase_group = age_data.groupby("Purchase Count")
index = 0

agegrouppurchases = [0,0,0,0,0,0,0,0]

for i in game_data["Age"]:
    
    
    if i < 10:
        agegrouppurchases[0] = round((agegrouppurchases[0] + price_data[index]),2)
    elif i > 10 and i < 15:
        agegrouppurchases[1] = round((agegrouppurchases[1] + price_data[index]),2)
    elif i > 15 and i < 20:
        agegrouppurchases[2] = round((agegrouppurchases[2] + price_data[index]),2)
    elif i > 20 and i < 25:
        agegrouppurchases[3] = round((agegrouppurchases[3] + price_data[index]),2)
    elif i > 25 and i < 30:
        agegrouppurchases[4] = round((agegrouppurchases[4] + price_data[index]),2)
    elif i > 30 and i < 35:
        agegrouppurchases[5] = round((agegrouppurchases[5] + price_data[index]),2)
    elif i > 35 and i < 40:
        agegrouppurchases[6] = round((agegrouppurchases[6] + price_data[index]),2)
    else:
        agegrouppurchases[7] = round((agegrouppurchases[7] + price_data[index]),2)
    index+=1






#Unique people number for average total per person

uniqueage_group = [0,0,0,0,0,0,0,0]
allusers = [0]
user_data2 = game_data["SN"]
index4 = 0
for i in game_data["Age"]:
    
    
    if i < 10 and allusers.count(user_data2[index4]) == 0:
        uniqueage_group[0] = uniqueage_group[0] + 1 
        allusers.append(user_data2[index4])
    elif i > 10 and i < 15 and allusers.count(user_data2[index4]) == 0:
         uniqueage_group[1] = uniqueage_group[1] + 1 
         allusers.append(user_data2[index4])
    elif i > 15 and i < 20 and allusers.count(user_data2[index4]) == 0:
         uniqueage_group[2] = uniqueage_group[2] + 1 
         allusers.append(user_data2[index4])
    elif i > 20 and i < 25 and allusers.count(user_data2[index4]) == 0:
         uniqueage_group[3] = uniqueage_group[3] + 1 
         allusers.append(user_data2[index4])
    elif i > 25 and i < 30 and allusers.count(user_data2[index4]) == 0:
         uniqueage_group[4] = uniqueage_group[4] + 1 
         allusers.append(user_data2[index4])
    elif i > 30 and i < 35 and allusers.count(user_data2[index4]) == 0:
         uniqueage_group[5] = uniqueage_group[5] + 1 
         allusers.append(user_data2[index4])
    elif i > 35 and i < 40 and allusers.count(user_data2[index4]) == 0:
         uniqueage_group[6] = uniqueage_group[6] + 1 
         allusers.append(user_data2[index4])
    elif i > 40 and allusers.count(user_data2[index4]) == 0:
         uniqueage_group[7] = uniqueage_group[7] + 1 
         allusers.append(user_data2[index4])
    index4+=1


 



#Average Purchase Price
index2 = 0
AvgPrice = []
for i in agegrouppurchases:
    #print(age_group["Purchase Count"].count()[index2])
    AvgPrice.append( round(agegrouppurchases[index2] / purchase_group["Purchase Count"].count()[index2],2))
    index2+=1

    
#Average Total Per Person
AveragePerPerson = [0,0,0,0,0,0,0,0]
index3 = 0
for i in agegrouppurchases:
    AveragePerPerson[index3] = "$" + str(round(i / uniqueage_group[index3],2))
    AvgPrice[index3] = "$" + str(AvgPrice[index3])
    agegrouppurchases[index3] = "$" + str(agegrouppurchases[index3])
    index3+=1
  
    

    
    
a = {'Purchase Count' : purchase_group["Purchase Count"].count(),'Average Purchase Price' :AvgPrice,
     'Purchase Total' : agegrouppurchases, 'Avg Total Purchase Per Person' : AveragePerPerson} 


    

b = pd.DataFrame(data= a, index = ranges)
#age_group["Purchase Count"].count()[0]
#agegrouppurchases
b

,Purchase Count,Average Purchase Price,Purchase Total,Avg Total Purchase Per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$1.82,$50.95,$3.4
15-19,136,$2.26,$307.24,$3.79
20-24,365,$2.19,$799.74,$4.23
25-29,101,$1.1,$111.1,$3.27
30-34,73,$1.42,$103.68,$3.84
35-39,41,$2.33,$95.64,$4.55
40+,13,$64.18,$834.29,$119.18

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
username_data = game_data["SN"]
purchase_data = game_data["Price"]
purchasecollection = {}
index = 0
userList = []
for i in username_data:
    #if this key is contained in dictionary
    if purchasecollection.setdefault(i):
        value = purchasecollection.setdefault(i)
        value.append(purchase_data[index])
        purchasecollection[i] = value
    else:
        value = []
        value.append(purchase_data[index])
        purchasecollection[i] = value
        userList.append(i)
    index+=1
 

'''
for key in a_dict:
    print(key, '->', a_dict[key])


'''
AverageTotalPurchase = []
TotalPurchase = []
purchasecount = []
for key in purchasecollection:
    value = purchasecollection[key]
    purchasecount.append(len(value))
    value = "$" + str(round((np.sum(value)),2))
    TotalPurchase.append(value)
    
    value = round((np.sum(purchasecollection[key]))/len(purchasecollection[key]),2)
    value = "$" + str(value)
    AverageTotalPurchase.append(value)
    



top_spenders = {'Purchase Count':purchasecount, 'Average Purchase Price' : AverageTotalPurchase, 
                'Total Purchase Value': TotalPurchase}

top_spenders_df = pd.DataFrame(data = top_spenders, index = userList)
top_spenders_df.head()

               Purchase Count Average Purchase Price Total Purchase Value
Lisim78                     3                  $3.34               $10.02
Lisovynya38                 1                  $1.56                $1.56
Ithergue48                  1                  $4.88                $4.88
Chamassasya86               1                  $3.27                $3.27
Iskosia90                   1                  $1.44                $1.44

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
itemid_data = game_data["Item ID"]
itemname_data = game_data["Item Name"]
price_data = game_data["Price"]


#dicitonary of itemname : purchase count
purchase_count = {}
#dicitonary of itemname : price
price_tracker = {}
id_tracker = {}

totalpurchase = []
index = 0
prices = []
for key in itemname_data:
    
    #print(key)
    id_tracker.setdefault(key)
    purchase_count.setdefault(key)
    price_tracker.setdefault(key)
    id_tracker.setdefault(key)
    if purchase_count[key] == None:
        purchase_count[key] = 1
    else:
        value = purchase_count[key] + 1
        purchase_count[key] = value
     
    if price_tracker[key] == None:
        price_tracker[key] = price_data[index]
    if id_tracker[key] == None:
        id_tracker[key] = itemid_data[index]
    index+=1


count = []
names = []
prices = []  
itemids = []
for key, value in purchase_count.items():
    names.append(key)
    count.append(value)
    
for key, value in price_tracker.items():
    prices.append(value)

for key, value in id_tracker.items():
    itemids.append(value)

index2 = 0

while index2 < len(prices): 
    totalpurchase.append(prices[index2] * count[index2])
    prices[index2] = "$" + str(prices[index2])
    totalpurchase[index2] = "$" + str(round((totalpurchase[index2]),2))
    index2+=1
    
    
totalpurchase = pd.Series(data = totalpurchase)    
count = pd.Series(data = count)
names = pd.Series(data = names)
prices = pd.Series(data = prices)
itemids = pd.Series(data = itemids)
predf = {'Item ID': itemids, 'Item Name' : names, 'Purchase Count' : count, 'Price' : prices, 
         'Total Purchase value' : totalpurchase}
df1 = pd.DataFrame(data = predf)




df1 = df1.sort_values("Purchase Count", ascending=False)

df1.head()

,Item ID,Item Name,Purchase Count,Price,Total Purchase value
2,92,Final Critic,13,$4.88,$63.44
24,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
0,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
17,82,Nirvana,9,$4.9,$44.1
93,145,Fiery Glass Crusader,9,$4.58,$41.22

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
itemid_data = game_data["Item ID"]
itemname_data = game_data["Item Name"]
price_data = game_data["Price"]


#dicitonary of itemname : purchase count
purchase_count = {}
#dicitonary of itemname : price
price_tracker = {}
id_tracker = {}

totalpurchase = []
index = 0
prices = []
for key in itemname_data:
    
    #print(key)
    id_tracker.setdefault(key)
    purchase_count.setdefault(key)
    price_tracker.setdefault(key)
    id_tracker.setdefault(key)
    if purchase_count[key] == None:
        purchase_count[key] = 1
    else:
        value = purchase_count[key] + 1
        purchase_count[key] = value
     
    if price_tracker[key] == None:
        price_tracker[key] = price_data[index]
    if id_tracker[key] == None:
        id_tracker[key] = itemid_data[index]
    index+=1


count = []
names = []
prices = []  
itemids = []
for key, value in purchase_count.items():
    names.append(key)
    count.append(value)
    
for key, value in price_tracker.items():
    prices.append(value)

for key, value in id_tracker.items():
    itemids.append(value)

index2 = 0

while index2 < len(prices): 
    totalpurchase.append(prices[index2] * count[index2])
    prices[index2] = "$" + str(prices[index2])
    totalpurchase[index2] = "$" + str(round((totalpurchase[index2]),2))
    index2+=1
    
    
totalpurchase = pd.Series(data = totalpurchase)    
count = pd.Series(data = count)
names = pd.Series(data = names)
prices = pd.Series(data = prices)
itemids = pd.Series(data = itemids)
predf = {'Item ID': itemids, 'Item Name' : names, 'Purchase Count' : count, 'Price' : prices, 
         'Total Purchase value' : totalpurchase}
df1 = pd.DataFrame(data = predf)






df1 = df1.sort_values("Total Purchase value", ascending=True)
df1.head()

     Item ID            Item Name  Purchase Count  Price Total Purchase value
132       42      The Decapitator               1  $1.75                $1.75
178      104   Gladiator's Glaive               1  $1.93                $1.93
45       110           Suspension               7  $1.44               $10.08
22       151            Severance               3   $3.4                $10.2
150      106  Crying Steel Sickle               3  $3.41               $10.23